
/* Global variables */

:root {
    /* Fonts */
    --ia-body-font: 'Cardo', serif;
    --ia-heading-font: 'Oswald', sans-serif;
    --ia-ui-font: 'Oswald', sans-serif;
    /* Colors */
    --ia-body-text-color: #333;
    --ia-body-bg: #fff;
    --ia-ui-text-color: #ddd;
    --ia-ui-text-color-lc: #aaa;
    --ia-ui-code-color: #fff500;
    --ia-ui-bg: rgba(0,0,0,0.8);
    --ia-ui-bg-solid: #333;
    --ia-hl-odd: #FFFEAA;
    --ia-hl-odd-strong: #D4D46A;
    --ia-hl-even: #BCE498;
    --ia-hl-even-strong: #8CBE5F;
    /* Borders */
    --ia-border: 1px solid lightgray;
    --ia-menu-border: 1px solid #444;
}

/* Basic layout */

html, body {
    overflow: hidden;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--ia-body-bg);
    z-index: 0;
}

#ia-doc {
    color: var(--ia-body-text-color);
}    

main {
    position: fixed;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transition: right 0.4s;
}

main.ia-gap {
    right: 250px;
}

.ia-hidden {
    display: none;
}

.ia-container {
    background-color: var(--ia-body-bg);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

.ia-article {
    font-family: var(--ia-body-font);
    font-size: 18px;
    line-height: 1.45;
    max-width: 600px;
    padding: 0px 20px;
    margin: 40px auto 20px;
}

#ia-odd-container {
    border-right: var(--ia-border);
}

.ia-split #ia-odd-container {
    right: 50%;
}

.ia-split #ia-even-container {
    left: 50%;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ia-heading-font);
    font-weight: 700;
}

h1 {
    margin: 70px 0px 30px;
}

/* Code */

code {
    font-size: 80%;
}

pre {
    line-height: 1.2;
}

/* Math */

.MathJax {
    overflow-x: auto;
    overflow-y: hidden;
}

/* Images */

img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
}

/* Authors block */

.authors {
    margin-bottom: 30px;
    font-size: 110%;
    font-style: italic;
}

/* Bibliography */

.csl-entry {
    margin-bottom: 10px;
}

/* Icons */

.ia-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}

/* Peek back */

#ia-back-container {
    border-top: var(--ia-border);
    z-index: 1;
}

.ia-peek #ia-back-container {
    bottom: 0px;
    top: 65%;
}

#ia-peek-back-close {
    display: none;
    position: absolute;
    top: 65%;
    transform: translateY(5px);
    right: 5px;
    z-index: 2;
    cursor: pointer;
}

#ia-peek-back-close .ia-cross {
    fill: var(--ia-body-text-color);
}

.ia-peek #ia-peek-back-close {
    display: initial;
}

.ia-peek.ia-anim-playing #ia-peek-back-close {
    display: none;
}

/* Switches */

.ia-switch {
    position: absolute;
    width: 30px;
    height: 17px;
}

.ia-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 17px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.ia-slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
    background-color: var(--ia-ui-bg-solid);
    -webkit-transition: .4s;
    transition: .4s;
}

.ia-ctrl-on .ia-slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Menu */

#ia-menu {
    position: fixed;
    font-family: var(--ia-ui-font);
    font-size: 16px;
    font-weight: 200;
    left: auto;
    right: -250px;
    width: 250px;
    z-index: 3;
    background-color: var(--ia-ui-bg);
    color: var(--ia-ui-text-color);
    display: none;
    transition: right 0.4s;
}

#ia-menu.ia-fixed {
    background-color: var(--ia-ui-bg-solid);
    box-shadow: none;
}

#ia-menu.ia-open {
    display: initial;
    right: 0px;
}

#ia-menu.ia-sliding {
    display: initial;
}

#ia-menu-button {
    z-index: 4;
    position: fixed;
    top: 8px;
    right: 7px;
    cursor: pointer;
}

#ia-menu-button .ia-burger {
    fill: var(--ia-body-text-color);
}

#ia-menu-button.ia-open .ia-burger {
    fill: var(--ia-ui-text-color);
}

.ia-menu-section {
    padding-bottom: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: var(--ia-menu-border);
}

#ia-nav-section {
    margin-top: 30px;
    border-top: var(--ia-menu-border);
}

.ia-menu-heading {
    font-size: 12px;
    padding: 2px 0px 2px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--ia-ui-text-color-lc);
}

.ia-menu-item {
    position: relative;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    cursor: pointer;
}

.ia-menu-item:hover {
    background-color: rgba(255,255,255,0.1);
}

.ia-nav-on {
    color: var(--ia-ui-text-color-lc);
    cursor: auto;
}

.ia-menu-item.ia-nav-on:hover {
    background-color: inherit;
}

.ia-nav-text {
    display: inline-block;
    box-sizing: border-box;
    height: 30px;
    width: 210px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ia-nav-text.ia-level2 { padding-left:  5px; }
.ia-nav-text.ia-level3 { padding-left: 10px; }
.ia-nav-text.ia-level4 { padding-left: 15px; }
.ia-nav-text.ia-level5 { padding-left: 20px; }
.ia-nav-text.ia-level6 { padding-left: 25px; }

.ia-nav-button {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 20px;
    padding-right: 10px;
    text-align: right;
    color: var(--ia-ui-text-color);
    cursor: pointer;
}

.ia-menu-item .ia-switch {
    top: 7px;
    right: 8px;
    transform: scale(0.8);
    transform-origin: center right;
}

.ia-ctrl-on .ia-slider {
    background-color: #E297AF;
}

#ia-odd-hl-ctrl.ia-ctrl-on .ia-slider {
    background-color: var(--ia-hl-odd);
}

#ia-even-hl-ctrl.ia-ctrl-on .ia-slider {
    background-color: var(--ia-hl-even);
}

/* Navbar */

#ia-navbar {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 2;
    font-family: var(--ia-ui-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}

.ia-split #ia-navbar {
    display: none;
}

.ia-navtext {
    padding-left: 3px;
    padding-right: 5px;
}

.ia-back-symbol {
    padding-left: 3px;
    font-size: 17px;
}

@media screen and (min-width: 800px) {
    #ia-navtext-short {	display: none; }
    #ia-navtext-long  {	display: initial; }
}

@media screen and (max-width: 800px) {
    #ia-navtext-short {	display: initial; }
    #ia-navtext-long  {	display: none; }
}

@media screen and (max-width: 670px) {
    #ia-navbar {
	background-color: rgba(255,255,255,0.8);
	border: var(--ia-border);
	border-radius: 12px;
    }
}

/* Help */

#ia-help-button {
    position: absolute;
    z-index: 8;
    cursor: pointer;
}

#ia-help-button .ia-cross {
    fill: #ccc;
}

#ia-help-container {
    position: fixed;
    display: none;
    z-index: 6;
}

#ia-help-container.ia-open {
    display: initial;
}

#ia-help {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 20px;
    z-index: 7;
    color: var(--ia-ui-text-color);
    font-family: var(--ia-ui-font);
    font-size: 16px;
    font-weight: 200;
}

@media screen and (min-width: 420px) {
    #ia-help-container {
	left: 10px;
	right: auto;
	bottom: 10px;
	width: 400px;
    }

    #ia-help {
	background-color: var(--ia-ui-bg);
	border-radius: 30px;
    }

    #ia-help-button {
	top: 15px;
	right: 15px;
    }

    @media screen and (max-height: 620px) {
	#ia-help-container {
	    top: 10px;
	    height: auto;
	}
    }

    @media screen and (min-height: 620px) {
	#ia-help-container {
	    top: auto;
	    height: 600px;
	}
    }
}

@media screen and (max-width: 420px) {
    #ia-help-container {
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: auto;
	height: auto;
    }

    #ia-help {
	background-color: var(--ia-ui-bg-solid);
	border-radius: initial;
    }

    #ia-help-button {
	top: 5px;
	right: 5px;
    }
}

#ia-help td:nth-child(1) {
    text-align: right;
    vertical-align: top;
}

#ia-help td:nth-child(2) {
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}

#ia-help kbd {
    color: var(--ia-ui-code-color);
}

.ia-keyseq {
    white-space: nowrap;
}

#ia-version {
    padding-top: 20px;
    font-size: 14px;
    text-align: center;
}

#ia-version a {
    color: var(--ia-ui-text-color);
}

/* Links */

a {
    text-decoration: none;
    color: rgb(6, 69, 173);
}

a.ia-hover {
    text-decoration: underline;
}

.ia-flash,
.ia-flash [data-hl-odd],
.ia-flash [data-hl-even] {
    background-color: #eaf3ff !important;
}

* {
    transition: background-color .4s;
}

/* Highlights */

.ia-hl-on-odd [data-hl-odd],
.ia-hl-on-even [data-hl-even] {
    cursor: pointer;
}

.ia-hl-on-odd [data-hl-odd] {
    background-color: var(--ia-hl-odd);
}

.ia-hl-on-even [data-hl-even] {
    background-color: var(--ia-hl-even);
}

.ia-hl-hov-odd[data-hl-odd],
.ia-hl-sel-odd[data-hl-odd],
.ia-hl-hov-odd[data-hl-odd] [data-hl-odd],
.ia-hl-sel-odd[data-hl-odd] [data-hl-odd],
.ia-hl-hov-odd[data-hl-odd] [data-hl-even],
.ia-hl-sel-odd[data-hl-odd] [data-hl-even] {
    background-color: var(--ia-hl-odd-strong);
}

.ia-hl-hov-even[data-hl-even],
.ia-hl-sel-even[data-hl-even],
.ia-hl-hov-even[data-hl-even] [data-hl-odd],
.ia-hl-sel-even[data-hl-even] [data-hl-odd],
.ia-hl-hov-even[data-hl-even] [data-hl-even],
.ia-hl-sel-even[data-hl-even] [data-hl-even] {
    background-color: var(--ia-hl-even-strong);
}

/* Error view */

#ia-error-container {
    position: fixed;
}

#ia-error {
    font-size: 20px;
}

#ia-error code {
    font-size: 90%;
}

#ia-error pre {
    font-size: 75%;
    white-space: pre-wrap;
}

/* Animations */

.ia-anim {
    animation-duration: 0.4s;
    animation-fill-mode: both;
}

.ia-out, .ia-out-half, .ia-out-full, .ia-full-to-half, .ia-peek-out, .ia-full-to-peek {
    animation-direction: reverse;
}

.ia-in, .ia-in-half, .ia-in-full, .ia-half-to-full, .ia-peek-to-full {
    animation-delay: 0.4s;
}

@keyframes ia-odd-in-half {
    from { left: -50%; right: 100%; }
    to { left: 0%; right: 50%; }
}

#ia-odd-container.ia-in-half, #ia-odd-container.ia-out-half {
    animation-name: ia-odd-in-half;
}

@keyframes ia-odd-in-full {
    from { left: -100%; right: 100%; }
    to { left: 0%; right: 0%; }
}

#ia-odd-container.ia-in-full, #ia-odd-container.ia-out-full {
    animation-name: ia-odd-in-full;
}

@keyframes ia-even-in-half {
    from { left: 100%; right: -50%; }
    to { left: 50%; right: 0%; }
}

#ia-even-container.ia-in-half, #ia-even-container.ia-out-half {
    animation-name: ia-even-in-half;
}

@keyframes ia-even-in-full {
    from { left: 100%; right: -100%; }
    to { left: 0%; right: 0%; }
}

#ia-even-container.ia-in-full, #ia-even-container.ia-out-full {
    animation-name: ia-even-in-full;
}

@keyframes ia-odd-half-to-full {
    from { left: 0%; right: 50%; }
    to { left: 0%; right: 0%; }
}

#ia-odd-container.ia-half-to-full, #ia-odd-container.ia-full-to-half {
    animation-name: ia-odd-half-to-full;
}

@keyframes ia-even-half-to-full {
    from { left: 50%; right: 0%; }
    to { left: 0%; right: 0%; }
}

#ia-even-container.ia-half-to-full, #ia-even-container.ia-full-to-half {
    animation-name: ia-even-half-to-full;
}

@keyframes ia-intro-in {
    from { top: -100%; bottom: 100%; }
    to { top: 0%; bottom: 0%; }
}

#ia-intro-container.ia-in, #ia-intro-container.ia-out {
    animation-name: ia-intro-in;
}

@keyframes ia-back-in {
    from { top: 100%; bottom: -100%; }
    to { top: 0%; bottom: 0%; }
}

#ia-back-container.ia-in, #ia-back-container.ia-out {
    animation-name: ia-back-in;
}

@keyframes ia-peek-in {
    from { top: 100%; bottom: -35%; }
    to { top: 65%; bottom: 0%; }
}

#ia-back-container.ia-peek-in, #ia-back-container.ia-peek-out {
    animation-name: ia-peek-in;
}

@keyframes ia-peek-to-full {
    from { top: 65%; bottom: 0%; }
    to { top: 0%; bottom: 0%; }
}

#ia-back-container.ia-peek-to-full, #ia-back-container.ia-full-to-peek {
    animation-name: ia-peek-to-full;
}
